<!DOCTYPE html>
<html>
<head>

<meta chrset="UTF 8">
<title>Movies</title>
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body ng-app="sampleApp" ng-controller="myCtrl">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="lib/bootstrap.js"></script>

<h1> Movies</h1>
<form action="">
    <select name="genres" id="genres" ng-model="selectGeneros" ng-options="generos.name for generos in generos track by generos.slug" ng-change="obtenerPeliculas()">
    </select>
</form>
<table class="table table-striped">
<thead>
<tr><th>#</th><th>Titulo</th><th>Description</th><th></th> </tr> </thead>
<tbody>
<tr ng-model="mostrarPeliculas" ng-repeat="peliculas in peliculas">
<td>{{$index + 1}}</td><td>{{peliculas.title}}</td><td>{{peliculas.description}}</td><td><img src={{peliculas.poster.url}} width="200" height="200"></td>
<td><a href="#!Movie/{{peliculas._id}}">Movie details</a></td>
</tr>
</tbody>
</table>

<div ng-view></div>
<script>
var sampleApp = angular.module('sampleApp',['ngRoute']);

sampleApp.config(function($routeProvider) {
    $routeProvider.when('/Movie/:movieId', {
        templateUrl : 'movie.html',
        controller: 'AngularController'
    })
});

sampleApp.controller('AngularController',function($scope,$routeParams) {
    $scope.movieid=$routeParams.movieId
});

sampleApp.controller('myCtrl', function($scope, $http) {
    $http({
        method: 'GET',
        url: 'http://api.filmon.com/api/vod/genres'
    }).then(function succesCallback(response) {
        $scope.generos = response.data.response
    }, function errorCallback(response) {
        alert("Error xd");
    });

    $scope.obtenerPeliculas = function() {
        $scope.opcion = $scope.selectGeneros.slug;
        $http({
            method: 'GET',
            url: 'http://api.filmon.com/api/vod/search?genre=' + $scope.opcion
        }).then(function succesCallback(response) {
            $scope.peliculas = response.data.response
        }), function errorCallback(response) {
            alert("Error 2 xd");
        }
    }
});
</script>
</body>
</html>