{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Crear Asignatura</h3>
        </div>
        <div class="row">
            <form method="POST" action="/crear asignatura/">
                {% csrf_token %}
                <div>Nombre Asignatura:</div>
                {{ form.nombre_asignatura }}
                <div>Codigo Asignatura:</div>
                {{ form.codigo_asignatura }}
                <div></div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script>
        /*document.getElementById("agregar_asignatura").addEventListener("click", agregar_asignatura_funcion);

        function agregar_asignatura_funcion() {
            var nombre_asignatura = document.getElementById("nombre_asignatura");
            var codigo_asignatura = parseInt(document.getElementById("codigo_asignatura"));
            asignatura_a_guardar = Asignaturas(nombre="nombre_asignatura", codigo="codigo_asignatura");
            asignatura_a_guardar.save();
        }*/
    </script>
</body>
</html>