{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Eliminar Alumno</h3>
        </div>
        <table id="tabla" class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Fecha de Nacimiento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido_paterno }}</td>
                    <td>{{ alumno.apellido_materno }}</td>
                    <td>{{ alumno.fecha_de_nacimiento }}</td>
                    <td><button value={{alumno.nombre}} onclick="eliminar_alumno(this.value)">Eliminar Alumno</button></td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
    <script>
        var csrfToken = '{{ csrf_token }}';

        function eliminar_alumno(nombre_alumno) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/eliminar alumno/", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
            xhr.send(JSON.stringify(nombre_alumno));
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    location.href = "/"
                }
            }
        }
    </script>
</body>
</html>