{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
        </div>
        <button onclick="window.location.href='xd/';">Crear Asignaturas!</button>
        <table id="tabla" class="table table-striped">
                <thead>
                    <tr>
                        <th>Asignatura</th>
                        <th>Codigo</th>
                        <th>Cantidad de Alumnos</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Programacion Avanzada</td>
                        <td>2030</td>
                        <td>2</td>
                        <td><button type="button">Nose xd</button><td>
                    </tr>
                </tbody>
         </table>
    </div>
</body>
</html>