{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Modificar Alumno</h3>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div>Nombre Alumno:</div>
                {{ form.nombre_alumno }}
                <div>Apellido Paterno:</div>
                {{ form.apellido_paterno }}
                <div>Apellido Materno:</div>
                {{ form.apellido_materno }}
                <div>Fecha de Nacimiento:</div>
                {{ form.fecha_de_nacimiento }}
                <div></div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>