{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Asignaturas</h3>
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Código</td>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for course in courses %}                   
                        <td>{{ course.name }}</td>
                        <td>{{ course.code }}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <button onclick="intento()">Intento!</button>
            <h3 id="xd"></h3>
            <h3 id="xd2"></h3>
        </div>
    </div>
    <script>
        const data = null;

        function intento() {
            const xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener('readystatechange', function () {
	            if (this.readyState === this.DONE) {
		            console.log(this.responseText);
                    document.getElementById("xd").innerHTML = this.readyState;
                    document.getElementById("xd2").innerHTML = this.responseText;
	            }
            });

            xhr.open('GET', 'https://moviesdatabase.p.rapidapi.com/titles/random?list=most_pop_movies');
            xhr.setRequestHeader('X-RapidAPI-Key', '6ab30a3e29msh99f48e91eab357cp14a8e5jsnedab8a8b1c24');
            xhr.setRequestHeader('X-RapidAPI-Host', 'moviesdatabase.p.rapidapi.com');

            xhr.send(data);
        }
    </script>
</body>
</html>