{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script type="text/javascript">
            
        </script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Movies</h3>
            <form action="">
                <select name="genres" id="genres" onchange="obtener_peliculas()">
                    {% for response in datas.response %}
                        <option value={{response.slug}}>{{ response.name }}</option>
                    {% endfor %}
                </select>
            </form>
            <table class="table table-striped" id="lista_peliculas">
                <thead class="thead-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Imagen</td>
                    </tr>
                </thead>
                <tbody id="peliculas"></tbody>
            </table>
        </div>
    </div>
    <script>
        function crearLista(response) {
            $("#lista_peliculas tbody").empty();
            var lista_peliculas = document.getElementById("peliculas");
            response.response.forEach(element => {
                var nueva_pelicula = lista_peliculas.insertRow(-1);
                var informacion1 = nueva_pelicula.insertCell(0);
                var informacion2 = nueva_pelicula.insertCell(1);
                var informacion3 = nueva_pelicula.insertCell(2);

                var img = document.createElement("img");
                img.src = element.poster.url;
                img.width = "200";
                img.height = "200";

                informacion1.innerHTML = element.title;
                informacion2.innerHTML = element.description;
                informacion3.appendChild(img);
            });
        };
        function muestraError() {
            alert("Error xd");
        };
        function obtener_peliculas() {
            var url_inicial = 'http://api.filmon.com/api/vod/search?genre=';
            var genre = document.getElementById("genres").value;
            var url_final = url_inicial.concat(genre);
            $.ajax({
                url: url_final,
                type: 'GET',
                async: true,
                dataType: "json",
                success: crearLista,
                error: muestraError
            });
        };
    </script>
</body>
</html>